---
http_interactions:
- request:
    method: get
    uri: http://tweeps.locaweb.com.br/tweeps/search/tweets.json?q=@locaweb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - ingrid.santos@locaweb.com
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"statuses":[{"coordinates":null,"favorited":true,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"426528","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"linnie_phd_nicolas","name":"Linnie
        Phd Nicolas","id":399978,"id_str":"399978","indices":[19,38]}]},"in_reply_to_user_id_str":"","contributors":null,"text":"We
        need to input t @linnie_phd_nicolas ","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_count":0,"in_reply_to_status_id_str":"","id":426528,"geo":null,"retweeted":false,"in_reply_to_user_id":null,"place":null,"favorite_count":70,"user":{"profile_sidebar_fill_color":"DDEEF6","profile_sidebar_border_color":"C0DEED","profile_background_tile":false,"name":"Kris
        Lolita","profile_image_url":"http://a0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","created_at":"Mon
        Apr 26 06:01:55 +0000 2010","location":"LA, CA","follow_request_sent":null,"profile_link_color":"0084B4","is_translator":false,"id_str":"289891","entities":{"url":{"urls":[{"expanded_url":null,"url":"","indices":[0,0]}]},"description":{"urls":[]}},"default_profile":true,"contributors_enabled":false,"favourites_count":33,"url":null,"profile_image_url_https":"https://si0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","utc_offset":-28800,"id":289891,"profile_use_background_image":true,"listed_count":2,"profile_text_color":"333333","lang":"en","followers_count":186,"protected":false,"notifications":null,"profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme1/bg.png","profile_background_color":"C0DEED","verified":false,"geo_enabled":true,"time_zone":"Pacific
        Time (US & Canada)","description":"Born 330 Live 310","default_profile_image":false,"profile_background_image_url":"http://a0.twimg.com/images/themes/theme1/bg.png","statuses_count":579,"friends_count":186,"following":null,"show_all_inline_media":false,"screen_name":"kris_lolita"},"in_reply_to_screen_name":"","source":"web","in_reply_to_status_id":null},{"coordinates":null,"favorited":false,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"61275","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"hills_isai","name":"Hills
        Isai","id":294766,"id_str":"294766","indices":[1,12]}]},"in_reply_to_user_id_str":"294766","contributors":null,"text":"@hills_isai
        Transmitting the matrix won''t do anything, we need to pro","metadata":{"iso_language_code":"pt","result_type":"recent"},"ret[...]
[...]
