---
http_interactions:
- request:
    method: get
    uri: http://tweeps.locaweb.com.br/tweeps/search/tweets.json?q=@locaweb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - ingrid.santos@locaweb.com
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"statuses":[{"coordinates":null,"favorited":true,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"143079","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"crist_rigoberto","name":"Crist
        Rigoberto","id":337404,"id_str":"337404","indices":[1,17]}]},"in_reply_to_user_id_str":"337404","contributors":null,"text":"@crist_rigoberto
        Use the open-source USB interface, then you can","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_count":0,"in_reply_to_status_id_str":"933300","id":143079,"geo":null,"retweeted":false,"in_reply_to_user_id":337404,"place":null,"favorite_count":194,"user":{"profile_sidebar_fill_color":"DDEEF6","profile_sidebar_border_color":"C0DEED","profile_background_tile":false,"name":"Purdy
        Dakota","profile_image_url":"http://a0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","created_at":"Mon
        Apr 26 06:01:55 +0000 2010","location":"LA, CA","follow_request_sent":null,"profile_link_color":"0084B4","is_translator":false,"id_str":"116117","entities":{"url":{"urls":[{"expanded_url":null,"url":"","indices":[0,0]}]},"description":{"urls":[]}},"default_profile":true,"contributors_enabled":false,"favourites_count":6,"url":null,"profile_image_url_https":"https://si0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","utc_offset":-28800,"id":116117,"profile_use_background_image":true,"listed_count":2,"profile_text_color":"333333","lang":"en","followers_count":216,"protected":false,"notifications":null,"profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme1/bg.png","profile_background_color":"C0DEED","verified":false,"geo_enabled":true,"time_zone":"Pacific
        Time (US & Canada)","description":"Born 330 Live 310","default_profile_image":false,"profile_background_image_url":"http://a0.twimg.com/images/themes/theme1/bg.png","statuses_count":579,"friends_count":216,"following":null,"show_all_inline_media":false,"screen_name":"purdy_dakota"},"in_reply_to_screen_name":"crist_rigoberto","source":"web","in_reply_to_status_id":933300},{"coordinates":null,"favorited":true,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"415928","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"schmeler_jerrold","name":"Schmeler
        Jerrold","id":41229,"id_str":"41229","indices":[1,18]}]},"in_reply_to_user_id_str":"41229","contributors":null,"text":"@schmeler_jerrold
        Try to navigate the SSL pixel, maybe it will program ","metadata":{"iso_language_code":"pt","result_type":"r[...]
