---
http_interactions:
- request:
    method: get
    uri: http://tweeps.locaweb.com.br/tweeps/search/tweets.json?q=@locaweb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - ingrid.santos@locaweb.com
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"statuses":[{"coordinates":null,"favorited":true,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"477666","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"locaweb","name":"Locaweb","id":42,"id_str":"42","indices":[35,43]}]},"in_reply_to_user_id_str":"60063","contributors":null,"text":"If
        we parse the bandwidth, we can  @locaweb E program!","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_count":0,"in_reply_to_status_id_str":"853561","id":477666,"geo":null,"retweeted":false,"in_reply_to_user_id":60063,"place":null,"favorite_count":322,"user":{"profile_sidebar_fill_color":"DDEEF6","profile_sidebar_border_color":"C0DEED","profile_background_tile":false,"name":"Cristobal
        Dr Lueilwitz","profile_image_url":"http://a0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","created_at":"Mon
        Apr 26 06:01:55 +0000 2010","location":"LA, CA","follow_request_sent":null,"profile_link_color":"0084B4","is_translator":false,"id_str":"193447","entities":{"url":{"urls":[{"expanded_url":null,"url":"","indices":[0,0]}]},"description":{"urls":[]}},"default_profile":true,"contributors_enabled":false,"favourites_count":13,"url":null,"profile_image_url_https":"https://si0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","utc_offset":-28800,"id":193447,"profile_use_background_image":true,"listed_count":2,"profile_text_color":"333333","lang":"en","followers_count":475,"protected":false,"notifications":null,"profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme1/bg.png","profile_background_color":"C0DEED","verified":false,"geo_enabled":true,"time_zone":"Pacific
        Time (US & Canada)","description":"Born 330 Live 310","default_profile_image":false,"profile_background_image_url":"http://a0.twimg.com/images/themes/theme1/bg.png","statuses_count":579,"friends_count":475,"following":null,"show_all_inline_media":false,"screen_name":"cristobal_dr_lueilwitz"},"in_reply_to_screen_name":"sipes_alessia","source":"web","in_reply_to_status_id":853561},{"coordinates":null,"favorited":false,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"981408","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"lakin_verda","name":"Lakin
        Verda","id":357358,"id_str":"357358","indices":[57,69]}]},"in_reply_to_user_id_str":"","contributors":null,"text":"I''ll
        reboot the mobile SCSI transmitter, that should sys @lakin_verda ","metadata":{"iso_language_code":"pt","result_type":"recent"},"re[...]
