---
http_interactions:
- request:
    method: get
    uri: http://tweeps.locaweb.com.br/tweeps/search/tweets.json?q=@locaweb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - ingrid.santos@locaweb.com
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"statuses":[{"coordinates":null,"favorited":false,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"972635","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"darian_bogisich_dds","name":"Darian
        Bogisich Dds","id":342832,"id_str":"342832","indices":[1,21]}]},"in_reply_to_user_id_str":"342832","contributors":null,"text":"@darian_bogisich_dds
        Try to compress the IB circuit, maybe it will index the optical panel!","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_count":8,"in_reply_to_status_id_str":"549028","id":972635,"geo":null,"retweeted":true,"in_reply_to_user_id":342832,"place":null,"favorite_count":0,"user":{"profile_sidebar_fill_color":"DDEEF6","profile_sidebar_border_color":"C0DEED","profile_background_tile":false,"name":"Iv
        Russel Clarabelle","profile_image_url":"http://a0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","created_at":"Mon
        Apr 26 06:01:55 +0000 2010","location":"LA, CA","follow_request_sent":null,"profile_link_color":"0084B4","is_translator":false,"id_str":"12477","entities":{"url":{"urls":[{"expanded_url":null,"url":"","indices":[0,0]}]},"description":{"urls":[]}},"default_profile":true,"contributors_enabled":false,"favourites_count":41,"url":null,"profile_image_url_https":"https://si0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","utc_offset":-28800,"id":12477,"profile_use_background_image":true,"listed_count":2,"profile_text_color":"333333","lang":"en","followers_count":201,"protected":false,"notifications":null,"profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme1/bg.png","profile_background_color":"C0DEED","verified":false,"geo_enabled":true,"time_zone":"Pacific
        Time (US & Canada)","description":"Born 330 Live 310","default_profile_image":false,"profile_background_image_url":"http://a0.twimg.com/images/themes/theme1/bg.png","statuses_count":579,"friends_count":201,"following":null,"show_all_inline_media":false,"screen_name":"iv_russel_clarabelle"},"in_reply_to_screen_name":"darian_bogisich_dds","source":"web","in_reply_to_status_id":549028},{"coordinates":null,"favorited":false,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"117962","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"ryder_schulist","name":"Ryder
        Schulist","id":50296,"id_str":"50296","indices":[1,16]}]},"in_reply_to_user_id_str":"50296","contributors":null,"text":"@ryder_schulist
        If we generate the matrix, we can get to the JSON monitor th","metadata":{"iso_language_code":"pt","result_type":[...]
